<form method="GET" id="search-form">
    <p>
        <label for="search">search:</label>
        <input type="text" name="search" id="search" size="20">
        <input type="submit" value="go">
        <input type="hidden" name="cache-version" value="{{ cache_version }}">
    </p>
    <fieldset>
        <legend>Search options</legend>
        <p>
            <label for="case-sensitive" title="If you check this box, your search will return only lines where the case of your search term matches as well.">Case sensitive:</label>
            <input type="checkbox" name="case-sensitive" id="case-sensitive">
        </p>
        <p>
            <label for="is-regex" title="If you check this box, your search term will be interpreted as a regular expression.">Regex:</label>
            <input type="checkbox" name="is-regex" id="is-regex">
        </p>
        <p>
            <label for="find-all" title="By default, search finds the first 20 matches. If you check this box, it will find all matches of the thing you're searching for (can take a while).">Find all:</label>
            <input type="checkbox" name="find-all" id="find-all">
        </p>
    </fieldset>
</form>
<section class="hidden" id="search-results">
    <h2>search results</h2>
    <p id="search-status"></p>
    <table>
        <thead>
            <th>Num</th>
            <th>Line</th>
        </thead>
        <tbody id="search-hits"></tbody>
    </table>
</section>
