:root {
	--background: #111;
	--secondary-background: #080808;
	--text-color: #CCC;
	--link-color: #8AD;
	--link-hover-color: #ADF;
	--border-color: #999;
	--junk-text-color: #666;

	--selected-line-background-color: #333;
	--lang-var-text-color: #c7d;
	--lang-var-background-color: black;
	--lang-var-border-color: #836;
	--lang-text-text-color: #fbe;
	--lang-text-background-color: black;
	--lang-text-border-color: #969;
	--wait-background-color: #555;
	--wait-text-color: #fff;
	--delay-background-color: #111;
	--delay-text-color: #666;
	--delay-collapsed-text-color: #aaa;
	--close-background-color: #844;
	--close-text-color: #fff;
	--face-background-color: #252;
	--face-text-color: #8c8;
	--flag-not-found-text-color: #ec6;
	--flag-found-text-color: #fd8;
	--flag-found-background-color: black;
	--flag-description-text-color: #ca4;
	--room-text-color: #8f8;
	--room-background-color: black;
	--room-description-text-color: #494;
	--alarm-link-text-color: #faa;
	--alarm-link-text-color--hover: white;
	--alarm-link-underline-color: #a66;
	--alarm-box-border-color: #888;
	--alarm-box-background-color: #222;
	--alarm-connection-line-color: #444;
	--alarm-background-color--hover: #400;
	--alarm-border-color--hover: #f88;
	--function-link-text-color: #8f8;
	--function-link-underline-color: #292;
	--function-link-background-color--hover: #272;
	--function-link-text-color--hover: white;
	--function-box-border-color: #8f8;
	--function-box-background-color: rgba(30, 50, 30, 0.9);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background: var(--background);
}

body, pre {
	font-family: Consolas, JetBrains Mono, monospace;
	font-size: 12pt;
	color: var(--text-color);
	margin: 0;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

h2 {
	word-break: break-all;
}

.hidden {
	display: none;
}

#yrstruly {
	position: relative;
	float: right;
	background: var(--secondary-background);
	padding: 1em 2em;
	border: 1px solid var(--border-color);
	margin: 0;
}

.comma-list {
	padding-left: 0;
}

.comma-list li {
	display: inline;
}

.comma-list li:not(:last-child):after {
	content: "  \00b7  ";
}

@media screen and (max-width: 720px) {
	#yrstruly {
		float: none;
	}
	table {
		display: block;
		overflow-x: auto;
	}
	table:not(.code) td {
		min-width: 200px;
	}
}

footer {
	background-color: var(--secondary-background);
	padding: 1rem;

	display: flex;
	flex-direction: column;

	gap: 1rem;
	width: calc(100% - 2rem);
}

fieldset p {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	column-gap: 0.5rem;
}

fieldset legend {
    padding: 0 1rem;
}

main {
	padding: 2rem;
}

input[type=submit] {
	cursor: pointer;
	color: var(--text-color);
	background-color: var(--background);

	transition:
		color 0.125s ease-in-out,
		background-color 0.125s ease-in-out;
}

input[type=submit]:hover {
	color: var(--background);
	background-color: var(--text-color);
}
