.langvar {
	color: var(--lang-var-text-color);
	font-style: italic;
	display: none;
	position: absolute;
	left: 2px;
	top: -2em;
	background: var(--lang-var-background-color);
	padding: 0.2em 0.5em;
	border: 1px solid var(--lang-var-border-color);
}

.langtext {
	display: inline-block;
	color: var(--lang-text-text-color);
	padding: 0 0.25em;
	background: var(--lang-text-background-color);
	position: relative;
	margin-bottom: 0.2em;
	border: 1px dotted var(--lang-text-border-color);
}

.langtext > span {
	display: inline-block;
	vertical-align: top;
}

.langtext:hover .langvar {
	display: block;
}

.langtext > span span:before {
	text-indent: 0;
	right: 0.3em;
	position: absolute;
	overflow: show;
}

.langtext > span span:hover:before {
	display: none;
}

.cc {
	font-size: 100%;
	width: 0.8em;
	text-indent: -9999px;
	display: inline-block;
	padding: 0 0.2em;
	margin: 0 0.2em;
	position: relative;
}

.cc:hover {
	width: unset;
	text-indent: unset;
	display: inline-block;
	overflow: initial;
}

.cc-wait {
	background: var(--wait-background-color);
	color: var(--wait-text-color);
}

.cc-delay {
	background: var(--delay-background-color);
	color: var(--delay-text-color);
}

.cc-delay > span {
	position: absolute;
	right: 0;
	bottom: 0.1em;
	display: inline-block;
	font-size: 70%;
	color: var(--delay-collapsed-text-color);
	text-indent: 0;
	font-style: italic;
}

.cc-delay:hover > span {
	display: none;
}

.cc-close {
	background: var(--close-background-color);
	color: var(--close-text-color);
}

.cc-face {
	background: var(--face-background-color);
	font-style: italic;
	font-size: 80%;
	color: var(--face-text-color);
	padding: 0 0.2em;
}

.cc-delay:before {
	content: '\231b';
	margin-right: 0.2em;
}

.cc-wait:before {
	content: '\2398';
}

.cc-close:before {
	content: '\239a';
}

.cc-color {
	color: white;
}

.cc-color:hover {
	color: black;
}

.cc-Y {
	color: yellow;
}

.cc-R {
	color: red;
}

.cc-B {
	color: #8bf;
}

.cc-W {
	color: unset;
}

.cc-0 {
	color: unset;
}

.cc-G {
	color: #7f7;
}

.flag {
	color: var(--flag-not-found-text-color);
}

.flagn {
	color: var(--flag-found-text-color);
	background: var(--flag-found-background-color);
}

.flagd {
	color: var(--flag-description-text-color);
	font-style: italic;
}

.room {
	color: var(--room-text-color);
	background: var(--room-background-color);
	padding: 0 0.5em;
}

.roomdesc {
	color: var(--room-description-text-color);
	font-style: italic;
}

.alarm {
	color: var(--alarm-link-text-color);
	text-decoration: underline dotted var(--alarm-link-underline-color);
	position: relative;
}

.alarm:hover {
	color: var(--alarm-link-text-color--hover);
}

.alarmT {
	font-weight: normal;
	font-style: normal;
	position: relative;
	float: right;
	max-width: 500px;
	margin: 0 1em 1em 1em;
	padding: 0.5em 1em;
	border: 1px solid var(--alarm-box-border-color);
	background: var(--alarm-box-background-color);
	color: var(--text-color);
	z-index: 10000;
	top: -1.8em;
	box-sizing: border-box;
	overflow-x: auto;
}

.alarmU {
	float: left;
	position: relative;
	margin-right: 0.4em;
}

.alarmA {
	display: block;
	position: relative;
	top: 0.5em;
	margin: 0 100px 0 0;
	height: 2px;
	border-top: 1px dashed var(--alarm-connection-line-color);
	z-index: 10;
	overflow: hidden;
}

.alarmC:hover,
.alarmC:hover .alarmU,
.alarmC:hover .alarmA,
.alarmC:hover .alarmT {
	background: var(--alarm-background-color--hover);
	border-color: var(--alarm-border-color--hover);
}

.code pre:has(.alarmC) {
	float: left;
	width: 100%;
	height: 1em;
}

.funcC {
	position: relative;
}

.func {
	color: var(--function-link-text-color);
	text-decoration: underline dotted var(--function-link-underline-color);
}

.funcC .funcCode {
	display: none;
}

.funcC:hover .func {
	background: var(--function-link-background-color--hover);
	color: var(--function-link-text-color--hover);
}

.funcC:hover .funcCode {
	display: block;
	position: absolute;
	max-width: 1000px;
	margin: 0 1em 1em 1em;
	padding: 0.5em 1em;
	border: 1px solid var(--function-box-border-color);
	background: var(--function-box-background-color);
	color: var(--text-color);
	z-index: 1000000;
	top: 1em;
	left: 2em;
	box-sizing: border-box;
	overflow-x: auto;
}

.code {
	border-top: 1px solid var(--border-color);
	width: 100%;
}
.code tr td:first-child {
	user-select: none;
}

pre:not(.funcCode), code, .hljs {
	padding: 0 !important;
	background-color: transparent !important;
	margin: 0 !important;
	font-family: "JetBrains Mono" !important;
}

.code .selected {
	background-color: var(--selected-line-background-color) !important;
}

.inline-code {
	display: inline-block;
}
