<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ game }} script viewer</title>
        {% include 'partials/head.html' %}
        <link rel="stylesheet" href="/static/index.css" />
    </head>
    <body>
        <main>
            <h1>{{ game }} script viewer</h1>

            <ul>
                {% for (chapter_id, chapter) in chapters %}
                    <li><a href="/{{ chapter_id }}/">{{ chapter }}</a></li>
                {% endfor %}
            </ul>
        </main>

        <footer>
            {% include 'partials/info.html' %}

            {% if footer %}
                {{ footer }}
            {% endif %}
        </footer>
    </body>
</html>
