name: Deploy to Netlify (Deltarune)
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download steamcmd
        run: |
          sudo add-apt-repository multiverse
          sudo dpkg --add-architecture i386
          sudo apt update
          echo steam steam/question select "I AGREE" | sudo debconf-set-selections
          echo steam steam/license note '' | sudo debconf-set-selections
          sudo apt install -y steamcmd
      - name: Download Deltarune
        run: |
          mkdir -p ~/.local/share/Steam/config
          echo "$STEAM_VDF" | base64 -d > ~/.local/share/Steam/config/config.vdf
          steamcmd +@ShutdownOnFailedCommand +@sSteamCmdForcePlatformType windows +force_install_dir $(pwd)/game +login $STEAM_USERNAME +app_update 1690940 validate +quit
        env:
          STEAM_VDF: ${{ secrets.STEAM_VDF }}
          STEAM_USERNAME: ${{ secrets.STEAM_USERNAME }}
      - name: Checkout UTMT
        uses: actions/checkout@v4
        with:
          repository: UnderminersTeam/UndertaleModTool
          path: utmt
      - name: Checkout Underanalyzer
        uses: actions/checkout@v4
        with:
          repository: UnderminersTeam/Underanalyzer
          path: utmt/Underanalyzer
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore UTMT dependencies
        run: dotnet restore utmt/UndertaleModCli
      - name: Build UTMT CLI
        run: dotnet build utmt/UndertaleModCli --no-restore
      - name: Publish UTMT CLI
        run: dotnet publish utmt/UndertaleModCli -c Release -r linux-x64 --self-contained true -p:PublishSingleFile=false --output utmtcli
      - name: Extract Deltarune's code
        run: |
          ./utmtcli/UndertaleModCli load game/data.win --scripts 'utmt/UndertaleModTool/Scripts/Resource Unpackers/ExportAllCode.csx'
          mv game/Export_Code decompiled-deltarune
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install Python dependencies
        run: pip install -r requirements.txt
      - name: Build
        run: ./build.sh deltarune
      - name: Publish
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=out --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID_DR }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
