name: Deploy to Netlify (Undertale Yellow)
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-undertaleyellow:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Steam and UTMT
        uses: ./.github/actions/steam-utmt-setup
      - name: Download Undertale Yellow
        run: |
          curl -s https://www.indiedb.com/downloads/start/293713 -H "User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36" > indiedb.html
          download_link=$(cat indiedb.html | grep 'click the link to' | sed -re 's|.*<a href="(/downloads/mirror/293713/[^"]+)".*|https://www.indiedb.com\1|')
          if [ -z "$download_link" ]
          then
            echo 'Failed to locate download link!'
            cat indiedb.html
            exit 1
          fi
          wget $download_link -qO game.zip
          unzip -p game.zip "Undertale Yellow v1_2_1/data.win" > data.win
      - name: Extract Undertale Yellow's code
        run: |
          ./utmtcli/UndertaleModCli load data.win --scripts 'scripts/ExportCodeFormatted.csx'
          mv Export_Code decompiled-undertaleyellow
      - name: Build
        run: python3 build.py undertaleyellow
      - name: Publish
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=out/undertaleyellow --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID_UTY }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
